numpy
opencv-python-headless  # For image processing without GUI dependencies (suitable for servers)
scikit-learn          # For data splitting and potentially some metrics
PyYAML                # For handling YAML configuration files
tqdm                  # For progress bars

mlflow>=1.0           # For experiment tracking, model logging

torch>=1.8.0
torchvision>=0.9.0

captum
shap
lime

